/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "norse";
  font-weight: 200;
  src: url("./font/norse-bold-webfont.woff2") format(woff2),
    url("./font/norse-bold-webfont.woff") format(woff);
}

:root {
  --page-height: 100vh;
  --image-width: 35vw;
  --logo-width: 100%;
  --logo-img-width: 20%;
  --logo-img-height: 30%;
  --logo-font: "norse";
  --logo-font-size: 4rem;
  --logo-padding-push-down: 25vh;
  --logo-dark-bg: rgba(0, 0, 0, 0.50);
  --image-credit-width: var(--logo-width);
  --main-width: 65vw;
  --main-gap-size: 20px;
  --introduction-width: 40vw;
  --introduction-margin-push-right: 3vw;
  --sign-up-padding: 10px;
  --sign-up-box-shadow: grey 0px 1px 4px;
  --input-width: 20vw;
  --input-box-shadow: blue 0px 0px 4px;
  --button-width: 25%;
  --button-radius: 5px;
  --button-border: 0px;
  --button-padding: 10px;
  --white: #f9fafb;
  --green: #596d48;
  --grey: #eff0f2;
}

body {
  display: flex;
  background-color: var(--white);
}

aside {
  position: relative;
  height: var(--page-height);
  width: var(--image-width);
  background-image: url("./images/green_leaf_plant.jpg");
  background-size: cover;
}


.logo {
  position: absolute;
  top: var(--logo-padding-push-down);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--logo-font);
  width: var(--logo-width);
  background-color: var(--logo-dark-bg);
}

.logo>h1 {
  font-size: var(--logo-font-size);
  color: var(--white);
}

.logo>img {
  width: var(--logo-img-width);
  height: var(--logo-img-height);
}

.image-credit {
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: var(--white);
  width: var(--image-credit-width);
}

.image-credit>a {
  color: var(--white)
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--main-width);
  gap: var(--main-gap-size);
}

.introduction {
  width: var(--introduction-width);
  margin-left: var(--introduction-margin-push-right);
  font-weight: bold;
}

.sign-up {
  padding-left: var(--introduction-margin-push-right);
  padding-top: var(--sign-up-padding);
  padding-bottom: var(--introduction-margin-push-right);
  background-color: #fff;
  box-shadow: var(--sign-up-box-shadow);
}

.sign-up>h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

#sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  gap: 5vw;
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  letter-spacing: 2px;
  font-size: 12px;
}

input {
  border: none;
  outline: 1px solid grey;
  width: var(--input-width);
  padding-left: 10px;
  border-radius: 2px;
}

input:invalid {
  outline: #f90808 1px solid;
  border: none;
}

input:focus {
  outline: blue 1px solid;
  border: none;
  box-shadow: var(--input-box-shadow);
}

button {
  width: var(--button-width);
  margin-left: var(--introduction-margin-push-right);
  background-color: var(--green);
  color: var(--white);
  border-radius: var(--button-radius);
  border: var(--button-border);
  padding: var(--button-padding);
  font-weight: bold;
}

.log-in-message {
  margin-left: var(--introduction-margin-push-right);
}

.log-in-message>h2 {
  font-size: 1rem;
  font-weight: normal;
}

.log-in-message>h2>a {
  color: var(--green);
  font-weight: bold;
  text-decoration-line: none;
}
