/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "norse";
  font-weight: 200;
  src: url("./font/norse-bold-webfont.woff2") format(woff2),
    url("./font/norse-bold-webfont.woff") format(woff);
}

:root {
  --page-height: 100vh;
  --image-width: 35vw;
  --logo-width: 100%;
  --logo-img-width: 20%;
  --logo-img-height: 30%;
  --logo-font: "norse";
  --logo-font-size: 4rem;
  --logo-padding-push-down: 25vh;
  --logo-dark-bg: rgba(0, 0, 0, 0.50);
  --image-credit-width: var(--logo-width);
  --white: #f9fafb;
}

body {
  background-color: var(--white);
}

aside {
  position: relative;
  height: var(--page-height);
  width: var(--image-width);
  background-image: url("./images/green_leaf_plant.jpg");
  background-size: cover;
}


.logo {
  position: absolute;
  top: var(--logo-padding-push-down);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--logo-font);
  width: var(--logo-width);
  background-color: var(--logo-dark-bg);
}

.logo>h1 {
  font-size: var(--logo-font-size);
  color: var(--white);
}

.logo>img {
  width: var(--logo-img-width);
  height: var(--logo-img-height);
}

.image-credit {
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: var(--white);
  width: var(--image-credit-width);
}

.image-credit>a {
  color: var(--white)
}
